<div class="d-flex justify-content-center">
  <div class="col-4 border" >
    <div class="card-header bg-white text-center pb-0">
      <h1>Echec</h1>
    </div>
    <div class="container text-center my-5 ">
      <p>Le paiement n'a pas abouti.</p>
      <p>Veuillez réessayer ultérieurement. Si le problème persiste, merci de contacter votre banque</p>
    </div>
      <%= image_tag 'giphy_failure.gif', class: 'card-img-top' %>
  </div>

  <%= link_to root_path do %>
    <i class="fas fa-arrow-left">
    </i>  Retour à l'accueil
  <%end%>
</div> 

