<h1>Pannel Administration</h1>

<div>
  <h1>Graphisme d'incription</h1>
  <%= line_chart User.group_by_day(:created_at).count %>
</div>

<div>
  <h1>Graphisme de création de projet</h1>
  <%= column_chart Project.group_by_day_of_week(:created_at, format: "%a").count %>
</div>

<div>
  <h1>Graphisme de création de logement</h1>
  <%= area_chart Housing.group_by_day_of_week(:created_at, format: "%a").count %>
</div>