
<div class="bg-white mt-10">
<div class="d-flex justify-content-center">
  <h1 >Pannel Administration</h1>
</div><br />
<div class="m-5">
  <div class="mb-5">
    <h6>Nombre d'inscrits : </h6>
    <%= User.all.count%>
  </div>

  <div class="mb-5">
    <h6>Nombre de projets total : </h6>
    <%= Project.all.count %>
  </div>

  <div class="mb-5">
    <h6>Nombre total de logements : </h6>
    <%= Housing.all.count %>
  </div>

</div>
</div>