<section class="pt-10 px-0 pb-xl-5">
  <div class="container">
    <div class="row justify-content-between align-items-center gutter-3 gutter-lg-5">
      <div class="col-lg-14">
        <h2>Bienvenue sur votre page de profile </h2>
        <p>Ici vous trouverez toutes vos informations personnelles. </p><br />
        <h5>Voici adresse email: <%=@user_email%> </h5>
      </div>
    </div>
  </div>
</section>

<section class="py-5 py-xl-10">
  <div class="container">
    <div class="row g-3 g-xl-5 mb-5">
      <div class="col-lg-8">
        <h6>Pour Modifier toutes informations personnelles cliquer sur le bouton ci-dessous </h6>
        <a href="<%= edit_user_registration_path %>" class="btn btn-primary rounded">Modifier vos informations </a>
      </div>
    </div>
  </div>
</section>

