<h1>Bienvenue sur votre page profil</h1>

<div class="card m-4">
  <div class="card-body ">
    <h5>Votre adresse email est: <%=@user_email%> </h5>
    <a href="<%= edit_user_registration_path %>" class="btn btn-success">Modifier vos informations</a>
  </div>
</div>

