Bvn sur cette page ^^

<a href="<%= new_user_session_path%>">sign in

<a data-method="delete" href="<%=destroy_user_session_path%>">sign out 
<br/><br/>
<a  href="mailto:thpicebreakers@gmail.com" target="_blank">Contact </a>