
    <div>
      <h3><%=@project.title%></h3>
    </div> 
    
    <div>
      <h5><%=@project.localization %> </h5>
    </div>

    <div >
      <p ><%=@project.comment%></p>
    </div>
   <%= link_to 'Le formulaire du logement', housing_path %> 