<section class="py-15 py-xl-20 border-top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 mb-5 me-5">
          <h2>Contactez la team ! </h2>
        </div>
        <div class="col-lg-8">
                    

          <form action="/create" method='post' class="row g-3">
            <div class="col-md-6">
              <label for="name" class="form-label">Prenom</label>
              <input type="text" class="form-control" id="name" placeholder="Prenom" name='name'>
            </div>
            <div class="col-md-6">
              <label for="lastname" class="form-label">Nom</label>
              <input type="text" class="form-control" id="lastname" placeholder="Nom"name="lastname">
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" placeholder="Email"name='email'>
            </div>
            <div class="col-md-12">
              <label for="yourMessage" class="form-label">Message</label>
              <textarea class="form-control" id="yourMessage" rows="3" placeholder="Message" name='message'></textarea>
            </div>
            <div class="col-md-12 text-md-end">
            <input type="submit" name="commit"  class='btn btn-block btn-primary rounded'>

          
            </div>
          </form>
        </div>
      </div>
    </div>
 </section>