
<section>
    <div class="py-15 py-xl-20 d-flex flex-column container level-3 min-vh-100">
      <div class="row align-items-center justify-content-center my-auto">
        <div class="col-md-10 col-lg-8 col-xl-5">
          <div class="card">
            <div class="card-header bg-white text-center pb-0">
              <h5 class="fs-3">Connexion</h5>
            </div>
            <div class="card-body bg-white">
              <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="GUBWFqfTTGRtoZF39jxa7OZmKQwR7N3kI4Xyp/jGF69UVGXkhoj8kn8ZIJcfjK9yePiqxJcHaFCqE7wf5b2+4w==">
                <div class="form-floating mb-2">
                  <label for="user_email"></label><br>
                  <p>Email</p>
                  <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email" class="form-control pt-1">
                </div>

                <div class="form-floating mb-2">
                  <label for="user_password"></label>
                  <br>
                  <p>Mot de passe (6 caractères minimum)</p>
                <div class="row">
                <div class="col d-flex d-flex align-items-center justify-content-end ">
                  <input autocomplete="current-password" type="password" name="user[password]" id="user_password" class="form-control pt-1">
                  <div class="password-icon3 mx-2" >
                    <i class="far fa-eye-slash" id="icon3"></i>
                  </div>                  
                </div>
                </div>
                </div>
                  <div class="form-floating mb-2">
                    <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" > Se souvenir de moi 
                    <label for="user_remember_me"></label>
                  </div>
                  <div class="form-floating mb-2">
                  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                    <%= link_to "Mot de passe oublié?", new_password_path(resource_name) %><br />
                  <% end %>
                  </div>
                <div class="d-grid mb-2ns">
                  <input type="submit" name="commit" value="Log in" data-disable-with="Log in" class='btn btn-lg btn-primary'>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>