
   <section class='py-10 py-xl-10 '>        
      <div class='container'>
         <div class='d-flex flex-column'>
          <div class='col-9'>
            <h2 class="fw-light mb-5">Créer un  <span class="fw-bold mb-5">logement :</span></h2>
              <div class="card">
                <div class="card-body" style='border: 1px solid  #d7a285 ;'>
                  <%= form_with(model: @housing, url: project_housings_path, method: "post", local: true) do |f| %>
                  <form> 
                    <label for="property_category " class='mb-3'>Type de bien *:</label>
                      <select name="housing[property_category]" id="housing_property_category"><option value="Studio">Studio</option>
                        <option value="T1">T1</option>
                        <option value="T1bis">T1bis</option>
                        <option value="T2">T2</option>
                        <option value="T2bis">T2bis</option>
                        <option value="T3">T3</option>
                        <option value="T4">T4</option>
                        <option value="T5">T5</option>
                        <option value="T6">T6</option>
                        <option value="Immeuble">Immeuble</option>
                        <option value="Autre">Autre</option>
                      </select>
                    <div class="mb-3">
                      <label for="ad_price">Prix du logement * :</label>
                      <input class="form-control" type="number" name="housing[ad_price]" id="housing_ad_price">
                      
                    </div>
                    <div class="mb-3">
                      <label for="localization">Localisation du bien *:</label>
                      <input class="form-control" type="text" name="housing[localization]" id="housing_localization">                     
                     <div class='col text-lg-end m-5 '>
                      <button type="submit" class="btn btn-primary rounded ">Créer</button>
                    </form>

                  <% end %>
                
                </div>
              </div>
            
            </div>
          </div>
         
          </div>
          </div>
      </section>
