// Place all the styles related to the housings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gap-25{
  gap: 25px;
}

.custom-col{
  height: fit-content;
}

.card-height{
  min-height: 100%;
  overflow: auto;
}