<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
  <section class="footer">
    <div class="container-fluid p-5 ">
      

      <div class="row py-5 d-flex flex-wrap justify-content-center ">
        <!--<div class="col">
        <a class="float-end" href="#top"><i class="fas fa-arrow-up"></i></a>

        <%#= image_tag 'logo/logo-dark'%>
        </div> -->
        <div class="col footer-div align-items-center">
          <h4>IMMOTEP</h4>

          <img src="https://svgsilh.com/svg/309113.svg" style="max-width:50px;"/>
        
        </div>
          <!--

          <ul type=none>
            <li><a href="<%=new_user_registration_path%>" >S'inscrire</a></li>
            <li><a href="<%=new_user_session_path%>" >Se connecter</a></li>
            <li><a data-method="delete" href="<%=destroy_user_session_path%>">Se déconnecter</a></li>
          </ul>
          -->
      
        <div class="col footer-div">
          <h6>À propos</h6>         
          <a href="mailto:thpicebreakers@gmail.com" target="_blank">Nous contacter</a>
          <a href="" >Notre équipe</a>
          <a href="" >Mentions Légales</a>
        </div>

        <div class="col footer-div">
          <h6>Réseaux sociaux</h6>
            <a href="https://twitter.com/the_hacking_pro">Twitter</a>
            <a href="https://github.com/ophelie-gaudin/Immo-Invest">GitHub</a>
            <a href="https://www.linkedin.com/school/the_hacking_project/">Linkedin</a>
          
        </div>
      </div>
      
      <hr/>
        
        <div class="copyright text-center text-muted">
          <small>Immotep © 2021</small>
        </div>

    </div>
    </section>
  </body>
</html>
