<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
  <section class="footer">
    <div class="container-fluid p-5 ">
      
      <div class="row">
      <div class="col">
      <%= image_tag 'logo/logo-dark'%>
      </div>
        <div class="col">
          <h4>Immo Invest</h4>
          <ul type=none>
            <li><a href="<%=new_user_registration_path%>" >S'inscrire</a></li>
            <li><a href="<%=new_user_session_path%>" >Se connecter</a></li>
            <li><a data-method="delete" href="<%=destroy_user_session_path%>">Se déconnecter</a></li>
          </ul>
        </div>
        <div class="col">
          <h4>À propos</h4>
          <ul type=none>
            <li><a href="mailto:thpicebreakers@gmail.com" target="_blank">Nous contacter</a></li>
            <li><a href="" >Notre équipe</a></li>
            <li><a href="" >Mentions Légales</a></li>
          </ul>



        </div>
        <div class="col">
          <h4>Reseaux sociaux</h4>
          <ul type=none>
            <li><a href="https://twitter.com/the_hacking_pro">Twitter</a></li>
            <li><a href="https://github.com/ophelie-gaudin/Immo-Invest">GitHub</a></li>
            <li><a href="https://www.linkedin.com/school/the_hacking_project/">Linkedin</a></li>
          </ul>
        </div>
      </div>
      <hr/>
        <div class="copyright text-center">
          <p>Immo Invest © 2021</p>
        </div>
    </div>
    </section>
  </body>
</html>
