<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
  <section class="footer">
    <div class="container-fluid p-5 ">
      

      <div class="row py-5 d-flex flex-wrap justify-content-center">
      <!--<div class="col">
      <a class="float-end" href="#top"><i class="fas fa-arrow-up"></i></a>

      <%#= image_tag 'logo/logo-dark'%>
      </div> -->
        <div class="col footer-div">
          <h4>IMMOTEP</h4>

        <div class="w-100 d-flex">
          <img src="/assets/logo-f6b9a7da5b221e12db7d67ca0df11992faf9175e4fef593ea57e6dc487fba2e3.png" style="max-height:100px;"/>
        
        
          <!--

          <ul type=none>
            <li><a href="<%=new_user_registration_path%>" >S'inscrire</a></li>
            <li><a href="<%=new_user_session_path%>" >Se connecter</a></li>
            <li><a data-method="delete" href="<%=destroy_user_session_path%>">Se déconnecter</a></li>
          </ul>
          -->
        </div>
        <div class="col footer-div">
          <h6>À propos</h6>
          <ul type=none>
            <li><a href="mailto:thpicebreakers@gmail.com" target="_blank">Nous contacter</a></li>
            <li><a href="" >Notre équipe</a></li>
            <li><a href="" >Mentions Légales</a></li>
          </ul>



        </div>
        <div class="col footer-div">
          <h6>Réseaux sociaux</h6>
          <ul type=none>
            <li><a href="https://twitter.com/the_hacking_pro">Twitter</a></li>
            <li><a href="https://github.com/ophelie-gaudin/Immo-Invest">GitHub</a></li>
            <li><a href="https://www.linkedin.com/school/the_hacking_project/">Linkedin</a></li>
          </ul>
        </div>
      </div>
      <hr/>
        <div class="copyright text-center">
          <p>Immo Invest © 2021</p>
        </div>
    </div>
    </section>
  </body>
</html>
